$dark-10: #17171A;
$dark-20: #202024;
$dark-30: #2c2c2c;
$dark-40: #2c2c2c90;
$gray-30: #797979;

$white-10: #F9F9F9;
$white-20: #FFFFFF;

$shadow-10: rgba(0, 0, 0, 0.50) 0 5px 20px;
$shadow-20: rgba(0, 0, 0, 0.30) 0 5px 20px;