@import 'functions',
'variables';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;500;700&display=swap');

* {
    @include reset();
    font-family: 'Sora', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

body {
    background-color: $white-20;
    z-index: 1;
    position: relative;

    #overlay {
        display: none;
        background-color: $dark-40;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        backdrop-filter: blur(5px);

    }

    #modal {
        @include flex(column, start, start, .7rem);
        background-color: $white-20;
        position: fixed;
        top: 10%;
        left: 30%;
        width: 45%;
        height: 75%;
        padding: 3.5rem 2.5rem 2rem 2.5rem;
        border-radius: 1rem;
        z-index: 5;
        box-shadow: $shadow-10;
        display: none;

        #close {
            @include flex(row, center, center, 0);
            background-color: $dark-20;
            color: $white-20;
            position: absolute;
            top: -.5rem;
            right: -.5rem;
            width: 4rem;
            height: 4rem;
            border-radius: .5rem;
            font-size: 1.5rem;
            box-shadow: $shadow-10;
            cursor: pointer;
        }

        h3 {
            font-size: 1.8rem;
            color: $dark-30;
            margin: 1rem 0;

            i {
                color: $gray-30;
            }
        }

        p {
            font-size: 1.1rem;
            color: $dark-20;
            opacity: .75;
            text-indent: 1rem;
        }

        .modal-menu {
            @include flex(column, start, start, 2rem);
            list-style: none;

            li {
                @include flex(row, center, center, .5rem);
                font-size: 1.15rem;
                color: $dark-20;

                .ph-checks {
                    font-size: 1rem;
                    color: $gray-30;
                }

                .ph-eye {
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }
        }

        #modal-image {
            @include flex(row, center, center, 0);
            position: absolute;
            right: 2.5rem;
            bottom: 3.2rem;
            height: 16rem;
            width: 25rem;
            border-radius: .5rem;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }
    }

    #scrollTop {
        @include flex(column, center, center, 0);
        background-color: $dark-20;
        color: $white-20;
        box-shadow: $shadow-10;
        height: 3.6rem;
        width: 3.6rem;
        border-radius: .5rem;
        border: none;
        outline: none;
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 3;
        display: none;
    }
}

nav {
    @include flex (row, space-evenly, center, 0);
    background-color: $white-20;
    width: 100%;
    height: 10vh;
    user-select: none;
    position: fixed;
    z-index: 2;


    .nav-logo {
        @include flex (row, center, center, .5rem);
        color: $dark-30;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;

        i {
            background-color: $dark-30;
            color: $white-10;
            font-size: 1.5rem;
            padding: .4rem;
        }
    }

    .nav-menu {
        @include flex (row, center, center, 1.5rem);
        list-style: none;

        li {

            a {
                text-decoration: none;
                color: $gray-30;
                font-size: 1.1rem;
                opacity: .7;

                &:hover {
                    transition: all .2s ease-in;
                    color: $dark-10;
                    opacity: 1;
                }
            }

            i {
                @include flex (row, center, center, 0);
                color: $dark-10;
                padding: .5rem;
                border-radius: .3rem;
                font-size: 1.25rem;
                cursor: pointer;

                &:hover {
                    transition: all .3s ease-in-out;
                    background-color: $dark-30;
                    color: $white-20;
                }
            }

            &::first-letter {
                font-size: 1.3rem;
            }
        }
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;

        .ph-squares-four {
            font-size: 2rem;
            color: $gray-30;
            display: none;
            cursor: pointer;
        }
    }

    .menu_mobile {
        @include flex (column, center, center, 2rem);
        position: absolute;
        right: 2rem;
        top: 6rem;
        background-color: $dark-20;
        list-style: none;
        height: 13rem;
        width: 14.5rem;
        padding: 0 2rem;
        box-shadow: $shadow-10;
        border-radius: .5rem;
        display: none;


        li {
            @include flex (row, start, center, 2rem);
            width: 100%;

            a {
                text-decoration: none;
                color: $white-20;
                font-size: 1.3rem;
            }

            i {
                color: $gray-30;
                font-size: 1.3rem;
                padding: 0 2rem 0 0;
                border-right: .1rem solid $gray-30;
            }
        }

        &.active {
            display: flex;
        }
    }
}

main {
    #main-home {
        @include flex (row, center, center, 0);
        width: 100%;
        height: 100vh;
        background-color: $white-10;
        overflow: hidden;
        z-index: 3;

        .home-content {
            @include flex (column, center, start, 1.5rem);
            width: 35%;
            height: 100%;
            padding: 0 1rem;

            h1 {
                font-size: 2.5rem;
                color: $dark-20;
                font-weight: 700;
            }

            p {
                font-size: 1.1rem;
                color: $dark-10;
                font-weight: 300;
            }

            article {
                @include flex (row, start, center ,0);
                margin: 1rem 0 0 0;
                width: 100%;

                a:nth-child(1) {
                    @include flex (row, center, center, 0);
                    background-color: $dark-20;
                    border: .2rem solid $dark-20;
                    color: $white-20;
                    width: auto;
                    height: 3.8rem;
                    text-decoration: none;
                    font-size: 1.1rem;
                    border-radius: .5rem;
                    box-shadow: $shadow-20;

                    &:hover {
                        transition: all .3s ease-in-out;
                        background-color: $white-10;
                        border: .2rem solid $dark-20;
                        color: $dark-20;
                    }
                }

                a:nth-child(2) {
                    @include flex (row, center, center, 0);
                    border-radius: .5rem;
                    color: $dark-20;
                    width: auto;
                    height: 3.8rem;
                    text-decoration: none;
                    font-size: 1.1rem;
                    box-shadow: $shadow-20;

                    &:hover {
                        transition: all .3s ease-in-out;
                        background-color: $dark-20;
                        color: $white-20;
                    }
                }
            }
        }

        .home-image {
            height: 100%;
            width: auto;
        }
    }

    #main-design {
        @include flex (row, center, center, 8rem);
        background-color: $white-20;
        width: 100%;
        height: 100vh;
        z-index: 3;

        .design-image {
            height: 25rem;
            width: 25rem;
            position: relative;

            .square {
                background-color: $dark-20;
                height: 100%;
                width: 100%;
                border-radius: .5rem;
            }

            img {
                position: absolute;
                object-fit: cover;
                height: 25rem;
                width: 25rem;
                bottom: -2.5rem;
                right: -3rem;
                border-radius: .5rem;
            }
        }

        .design-cotent {
            @include flex(column, center, start, 2rem);
            width: 34%;

            .header {
                @include flex(column, center, start, 1rem);
                background-color: $dark-20;
                height: 15rem;
                padding: 0 2rem;
                border-radius: .5rem;

                h2 {
                    color: $white-20;
                    font-size: 2rem;
                    font-weight: 500;

                    i {
                        color: $gray-30;
                    }
                }

                p {
                    color: $white-20;
                    font-size: 1.1rem;
                    opacity: .6;
                    font-weight: 300;
                    text-indent: 1rem;
                }
            }

            .footer {
                a {
                    text-decoration: underline;
                    color: $dark-20;
                    font-size: 1.1rem;
                }
            }
        }
    }

    #main-gallery {
        @include flex (column, center, center, 1rem);
        background-color: $white-10;
        width: 100%;
        height: 100vh;
        z-index: 3;

        .gallery-content {
            @include flex (column, center, center, 1rem);
            height: 25%;

            h2 {
                color: $dark-20;
                font-size: 2rem;
            }

            p {
                color: $dark-20;
                font-size: 1.1rem;
                font-weight: 300;
            }
        }

        .gallery-image {
            @include flex (row, center, start, 1.9rem);
            height: 75%;

            img {
                height: 80%;
                border-radius: .5rem;
                box-shadow: $shadow-20;
            }
        }
    }

    #main-contact {
        @include flex (column, center, center, 3rem);
        background-color: $white-20;
        width: 100%;
        height: 50vh;
        z-index: 3;

        .contact-content {
            @include flex (column, center, center, 1rem);
            width: 100%;

            h2 {
                color: $dark-20;
                font-size: 2rem;
            }

            p {
                color: $dark-20;
                font-size: 1.1rem;
                font-weight: 300;
            }
        }

        .contact-button {
            @include flex (row, center, center, 0);
            width: 100%;

            a {
                @include flex (row, center, center, 0);
                border: .15rem solid $dark-30;
                font-size: 1rem;
                width: auto;
                height: 3.5rem;
                text-decoration: none;
                color: $dark-20;
                border-radius: .5rem;
            }
        }
    }
}

footer {
    @include flex (row, center, start, 5rem);
    background-color: $white-10;
    width: 100%;
    height: 50vh;
    padding: 12rem 3rem 3rem 3rem;
    z-index: 3;
    user-select: none;

    .logo-footer {
        @include flex (row, center, center, 0);

        i {
            background-color: $dark-30;
            color: $white-10;
            font-size: 1.5rem;
            padding: .5rem;
        }
    }

    .footer-content {
        @include flex (column, center, start, 1rem);

        h3 {
            color: $dark-20;
            font-size: 1.3rem;
        }

        p {
            color: $dark-20;
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
}

::selection {
    background-color: $dark-30;
    color: $white-20;
    opacity: .7;
}

::-webkit-scrollbar {
    background-color: $white-10;
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: $dark-20;
}

// @media (min-width: 2000px)  {}

@media (min-width: 1200px) and (max-width: 1999px) {
    body {
        #modal {
            @include flex(column, start, start, 1.6rem);
            display: none;
            top: 12%;
            left: 15%;
            width: 70%;
            height: 73%;
            padding: 3rem 2.5rem 2rem 2.5rem;

            p:nth-child(2) {
                display: block;
            }

            h3 {
                font-size: 1.5rem;
                margin: .6rem 0;
            }

            p {
                font-size: 1rem;
            }

            #modal-image {
                display: block;
            }
        }
    }

    nav {
        @include flex (row, space-evenly, center, 0);
        padding: 0;

        .nav-logo {
            font-size: 1.4rem;

            i {
                font-size: 1.6rem;
                padding: .45rem;
            }
        }

        .nav-menu {
            display: flex;
        }

        button {
            display: none;
        }

        .menu_mobile {
            display: none;
        }
    }

    main {

        #main-home {
            @include flex (row, space-evenly, center, 0);

            .home-content {
                @include flex (column, center, center, 3rem);
                width: 35%;
                height: 100%;
                padding: 0 2rem;

                h1 {
                    font-size: 2.2rem;
                }

                p {
                    font-size: 1.2rem;
                }

                article {
                    @include flex (column, start, start, 2rem);

                    a:nth-child(1) {
                        width: 100%;
                    }

                    a:nth-child(2) {
                        width: 100%;
                    }
                }
            }

            .home-image {
                display: flex;
            }
        }

        #main-design {
            @include flex (row, space-evenly, center, 7rem);
            height: 100vh;
            width: 100%;
            padding: 0;

            .design-image {
                display: flex;
                height: 25rem;
                width: 25rem;
            }

            .design-cotent {
                @include flex(column, center, start, 2rem);
                width: 40%;

                .header {
                    h2 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.1rem;
                        opacity: .6;
                    }
                }

                .footer {
                    a {
                        font-size: 1.25rem;
                    }
                }
            }
        }

        #main-gallery {
            @include flex (column, center, center, 1rem);
            height: 100vh;
            width: 100%;
            padding: 0;

            .gallery-content {
                height: 25%;

                p {
                    text-align: center;
                    padding: 0 4rem;
                }
            }

            .gallery-image {
                @include flex (row, center, start, 1.5rem);
                height: 75%;

                img {
                    height: 32rem;
                    border-radius: .5rem;
                }
            }
        }

        #main-contact {
            height: 50vh;

            .contact-content {
                @include flex (column, center, center, 1.3rem);

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            .contact-button {
                a {
                    font-size: 1.1rem;
                    width: 40%;

                    &:hover {
                        transition: all .3s ease-in-out;
                        background-color: $dark-20;
                        color: $white-20;
                    }
                }
            }
        }
    }

    footer {
        @include flex (row, center, start, 4.5rem);
        height: 50vh;
        padding: 10rem 0 0 0;
        flex-wrap: wrap;

        .logo-footer {
            i {
                font-size: 1.3rem;
                padding: 1rem;
            }
        }
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    body {
        #modal {
            @include flex(column, start, start, 1.6rem);
            display: none;
            top: 12%;
            left: 7%;
            width: 85%;
            height: 75%;
            padding: 5rem 2.5rem 2rem 2.5rem;

            p:nth-child(2) {
                display: block;
            }

            h3 {
                font-size: 1.5rem;
                margin: .6rem 0;
            }

            p {
                font-size: 1rem;
            }

            #modal-image {
                display: block;
            }
        }
    }

    nav {
        @include flex (row, space-between, center, 0);
        padding: 0 2rem;

        .nav-logo {
            font-size: 1.3rem;

            i {
                font-size: 1.2rem;
                padding: .45rem;
            }
        }

        .nav-menu {
            display: flex;
        }

        button {
            display: none;
        }

        .menu_mobile {
            display: none;
        }
    }

    main {

        #main-home {
            @include flex (column, center, center, 0);

            .home-content {
                @include flex (column, center, center, 3rem);
                width: 100%;
                padding: 0 2rem;
                text-align: center;

                h1 {
                    font-size: 2.2rem;
                }

                p {
                    font-size: 1.2rem;
                }

                article {
                    @include flex (column, start, center, 2rem);

                    a:nth-child(1) {
                        width: 50%;
                    }

                    a:nth-child(2) {
                        width: 50%;
                    }
                }
            }

            .home-image {
                display: none;
            }
        }

        #main-design {
            @include flex (column, center, center, 0);
            height: 50vh;
            padding: 0 2rem;

            .design-image {
                display: none;
            }

            .design-cotent {
                @include flex(column, center, center, 2rem);
                width: 65%;

                .header {
                    h2 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.2rem;
                        opacity: .6;
                    }
                }

                .footer {
                    a {
                        font-size: 1.25rem;
                    }
                }
            }
        }

        #main-gallery {
            @include flex (column, center, center, 1rem);
            height: 100%;
            padding: 3rem 2rem;

            .gallery-content {
                width: 100%;

                p {
                    text-align: center;
                    padding: 0 2rem;
                }
            }

            .gallery-image {
                @include flex (column, center, center, 1.4rem);
                width: 100%;
                padding: 2rem 0 0 0;
                

                img {
                    height: 32rem;
                    border-radius: .5rem;
                }
            }
        }

        #main-contact {
            padding: 0 2rem;

            .contact-content {
                @include flex (column, center, center, 1.3rem);

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            .contact-button {
                a {
                    font-size: 1.1rem;
                    width: 50%;

                    &:hover {
                        transition: all .3s ease-in-out;
                        background-color: $dark-20;
                        color: $white-20;
                    }
                }
            }
        }
    }

    footer {
        @include flex (row, center, start, 4.5rem);
        height: 50vh;
        padding: 10rem 0 0 0;
        flex-wrap: wrap;

        .logo-footer {
            i {
                font-size: 1.3rem;
                padding: 1rem;
            }
        }
    } 
}

@media (min-width: 700px) and (max-width: 999px) {
    body {
        #modal {
            @include flex(column, start, start, 2rem);
            display: none;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 78%;
            padding: 5rem 2.5rem 2rem 2.5rem;

            p:nth-child(2) {
                display: block;
            }

            h3 {
                font-size: 1.5rem;
                margin: .6rem 0;
            }

            p {
                font-size: 1rem;
            }

            #modal-image {
                display: none;
            }
        }
    }

    nav {
        @include flex (row, space-between, center, 0);
        padding: 0 2rem;

        .nav-logo {
            font-size: 1.3rem;

            i {
                font-size: 1.2rem;
                padding: .45rem;
            }
        }

        .nav-menu {
            display: none;
        }

        button {
            .ph-squares-four {
                font-size: 2.1rem;
                display: block;
            }
        }

        .menu_mobile {
            li {
                a {
                    font-size: 1.1rem;
                }
    
                i {
                    font-size: 1.3rem;
                }
            }
        }
    }

    main {

        #main-home {
            @include flex (column, center, center, 0);

            .home-content {
                @include flex (column, center, center, 3rem);
                width: 100%;
                padding: 0 2rem;
                text-align: center;

                h1 {
                    font-size: 2.3rem;
                }

                p {
                    font-size: 1.2rem;
                }

                article {
                    @include flex (column, start, center, 2rem);

                    a:nth-child(1) {
                        width: 85%;
                    }

                    a:nth-child(2) {
                        width: 85%;
                    }
                }
            }

            .home-image {
                display: none;
            }
        }

        #main-design {
            @include flex (column, center, center, 0);
            height: 50vh;
            padding: 0 2rem;

            .design-image {
                display: none;
            }

            .design-cotent {
                @include flex(column, center, center, 2rem);
                width: 85%;

                .header {
                    h2 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1rem;
                        opacity: .7;
                    }
                }

                .footer {
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        #main-gallery {
            @include flex (column, center, center, 1rem);
            height: 100%;
            padding: 3rem 2rem;

            .gallery-content {
                width: 100%;

                p {
                    text-align: center;
                    padding: 0 2rem;
                }
            }

            .gallery-image {
                @include flex (column, center, center, 1.4rem);
                width: 100%;
                padding: 2rem 0 0 0;

                img {
                    height: 32rem;
                    border-radius: .5rem;
                }
            }
        }

        #main-contact {
            padding: 0 2rem;

            .contact-content {
                @include flex (column, center, center, 1.3rem);

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            .contact-button {
                a {
                    font-size: 1.1rem;
                    width: 85%;

                    &:hover {
                        transition: all .3s ease-in-out;
                        background-color: $dark-20;
                        color: $white-20;
                    }
                }
            }
        }
    }

    footer {
        @include flex (column, center, start, 4rem);
        height: 100vh;
        padding: 0 5rem;

        .logo-footer {
            i {
                font-size: 1.3rem;
                padding: 1rem;
            }
        }
    }
}

@media (min-width: 430px) and (max-width: 699px) {
    body {
        #modal {
            top: 4.5%;
            left: 5%;
            width: 90%;
            height: 70%;
            padding: 5.5rem 2rem 2rem 2rem;

            p:nth-child(2) {
                display: none;
            }

            h3 {
                font-size: 1.5rem;
                margin: .6rem 0;
            }

            p {
                font-size: 1rem;
            }

            #modal-image {
                display: none;
            }
        }
    }

    nav {
        @include flex (row, space-between, center, 0);
        padding: 0 2rem;

        .nav-logo {
            font-size: 1.3rem;

            i {
                font-size: 1.2rem;
                padding: .45rem;
            }
        }

        .nav-menu {
            display: none;
        }

        button {
            .ph-squares-four {
                font-size: 2.1rem;
                display: block;
            }
        }
    }

    main {

        #main-home {
            @include flex (column, center, center, 0);

            .home-content {
                @include flex (column, center, start, 3rem);
                width: 100%;
                padding: 0 2rem;

                h1 {
                    font-size: 2.3rem;
                }

                p {
                    font-size: 1.2rem;
                }

                article {
                    @include flex (column, start, start, 2rem);

                    a:nth-child(1) {
                        width: 100%;
                    }

                    a:nth-child(2) {
                        width: 100%;
                    }
                }
            }

            .home-image {
                display: none;
            }
        }

        #main-design {
            @include flex (column, center, center, 0);
            height: 50vh;

            .design-image {
                display: none;
            }

            .design-cotent {
                @include flex(column, center, center, 2rem);
                width: 100%;
                padding: 0 2rem;

                .header {
                    h2 {
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 1rem;
                        opacity: .7;
                    }
                }

                .footer {
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        #main-gallery {
            @include flex (column, center, center, 1rem);
            height: 100%;
            padding: 3rem 2rem;

            .gallery-content {
                width: 100%;

                p {
                    text-align: center;
                }
            }

            .gallery-image {
                @include flex (column, center, center, 1.4rem);
                width: 100%;
                padding: 2rem 0 0 0;

                img {
                    height: 27rem;
                    border-radius: .5rem;
                }
            }
        }

        #main-contact {
            padding: 0 2rem;

            .contact-content {
                @include flex (column, center, center, 1.3rem);

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            .contact-button {
                a {
                    font-size: 1.1rem;
                    width: 100%;

                    &:hover {
                        transition: all .3s ease-in-out;
                        background-color: $dark-20;
                        color: $white-20;
                    }
                }
            }
        }
    }

    footer {
        @include flex (column, center, start, 4rem);
        height: 100vh;
        padding: 3rem;

        .logo-footer {
            i {
                font-size: 1.3rem;
                padding: 1rem;
            }
        }
    }
}

@media (max-width: 429px) {

    body {
        #modal {
            top: 4.5%;
            left: 5%;
            width: 90%;
            height: 80%;
            padding: 4rem 2rem 2rem 2rem;

            p:nth-child(2) {
                display: none;
            }

            h3 {
                font-size: 1.5rem;
                margin: .6rem 0;
            }

            p {
                font-size: 1rem;
            }

            #modal-image {
                display: none;
            }
        }
    }

    nav {
        @include flex (row, space-between, center, 0);
        padding: 0 2rem;

        .nav-logo {
            font-size: 1.3rem;

            i {
                font-size: 1.2rem;
                padding: .45rem;
            }
        }

        .nav-menu {
            display: none;
        }

        button {
            .ph-squares-four {
                font-size: 2.1rem;
                display: block;
            }
        }
    }

    main {

        #main-home {
            @include flex (column, center, center, 0);

            .home-content {
                @include flex (column, center, start, 3rem);
                width: 100%;
                padding: 0 2rem;

                h1 {
                    font-size: 2.3rem;
                }

                p {
                    font-size: 1.2rem;
                }

                article {
                    @include flex (column, start, start, 2rem);

                    a:nth-child(1) {
                        width: 100%;
                    }

                    a:nth-child(2) {
                        width: 100%;
                    }
                }
            }

            .home-image {
                display: none;
            }
        }

        #main-design {
            @include flex (column, center, center, 0);
            height: 50vh;

            .design-image {
                display: none;
            }

            .design-cotent {
                @include flex(column, center, center, 2rem);
                width: 100%;
                padding: 0 2rem;

                .header {
                    h2 {
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 1rem;
                        opacity: .7;
                    }
                }

                .footer {
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        #main-gallery {
            @include flex (column, center, center, 1rem);
            height: 100%;
            padding: 3rem 2rem;

            .gallery-content {
                width: 100%;

                p {
                    text-align: center;
                }
            }

            .gallery-image {
                @include flex (column, center, center, 1.4rem);
                width: 100%;
                padding: 2rem 0 0 0;

                img {
                    height: 27rem;
                    border-radius: .5rem;
                }
            }
        }

        #main-contact {
            padding: 0 2rem;

            .contact-content {
                @include flex (column, center, center, 1.3rem);

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            .contact-button {
                a {
                    font-size: 1.1rem;
                    width: 100%;

                    &:hover {
                        transition: all .3s ease-in-out;
                        background-color: $dark-20;
                        color: $white-20;
                    }
                }
            }
        }
    }

    footer {
        @include flex (column, center, start, 4rem);
        height: 100vh;
        padding: 3rem;

        .logo-footer {
            i {
                font-size: 1.3rem;
                padding: 1rem;
            }
        }
    }
}